# ignore files CMake generates
build/
cmake*/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# ignore files XMake generates
.xmake/

# ignore ide settings
.vs/
.vscode/
.idea/
.cache/